/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 80%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Headings */
h1 {
    color: #343a40;
    text-align: center;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"], .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
}

.error {
    background-color: rgba(248, 50, 50, 0.89);
    width: fit-content;
    padding: 3px;
    border-radius: 4px;
    color: #f8f9fa;
    font-weight: bold;
}

button[type="submit"]:hover, .button:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #343a40;
    color: white;
}

td {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}